  <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container">
    
        <div class="well form-horizontal"  id="contact_form">
    <fieldset>
    
    <!-- Form Name -->
    <legend>new Comapnay master</legend>
    
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label">Name</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  name="first_name" id="name" placeholder="First Name" class="form-control"  type="text">
        </div>
      </div>
    </div>
    
    <!-- Text input-->
    
    
    <!-- Text input-->
           <div class="form-group">
      <label class="col-md-4 control-label">E-Mail</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input name="email" id="email" placeholder="E-Mail Address" class="form-control"  type="text">
        </div>
      </div>
    </div>
    
    
    <!-- Text input-->
           
    <div class="form-group">
      <label class="col-md-4 control-label">Phone #</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
      <input name="phone" id="contact" placeholder="(845)555-1212" class="form-control" type="text">
        </div>
      </div>
    </div>
    
    <!-- Text input-->
          
    <div class="form-group">
      <label class="col-md-4 control-label">Address</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      <input name="address" id="address" placeholder="Address" class="form-control" type="text">
        </div>
      </div>
    </div>
    
    <!-- Text input-->
     
    
    
    <!-- Select Basic -->
       
    
    
    <!-- Text input-->
    
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">GST</label>  
       <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
      <input name="website" id="gst" placeholder="GST" class="form-control" type="text">
        </div>
      </div>
    </div>
    
    <!-- radio checks -->
    
    <!-- Text area -->
      
    
    <!-- Success message -->
    
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button type="submit" id="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
      </div>
    </div>
    
    </fieldset>
  </div>
    </div>
        </div><!-- /.container -->
  
    

</body>

<script>
$("#submit").click(function(){
	var name=$("#name").val();
	var address=$("#address").val();
	var email=$("#email").val();
	var contact=$("#contact").val();
    var gst=$("#gst").val();
	var data={"name":name, "address":address, "email":email, "contact":contact, "gst":gst};
	
	console.log(data);
    
	$.post("/company/new", data, 
	function(data, status){
		console.log("data posted");
	}
).then(function(res){
  console.log(res.data);
  window.location.replace("/company/"+res.data[0]);
})});
</script>
</html>

