<html>
<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js">
	
</script>
</head>
<body>
name  <input type="text" name="name" id="name">
<br>
address  <input type="text" name="address" id="address">
<br>
email    <input type="text" name="email" id="email">
<br>
contact  <input type="text" name="contact" id="contact">
<br>
gst      <input type="text" name="gst" id="gst">
<br>
<!-- <button text="post" id="submit">submit</button> -->
<input type="button" onclick="" id="submit" value="submit">
</body>


<script>

$("#submit").click(function(){
	var name=$("#name").val();
	var address=$("#address").val();
	var email=$("#email").val();
	var contact=$("#contact").val();
    var gst=$("#gst").val();
	var data={"name":name, "address":address, "email":email, "contact":contact, "gst":gst};
	
	console.log(data);
    
	$.post("/company/new", data, 
	function(data, status){
		console.log("data posted");
	}
)});
</script>
</html>

