<html>
<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js">
	
</script>
</head>
<body>
name  <input type="text" name="name" id="name">
<br>
address  <input type="text" name="address" id="address">
<br>
email    <input type="text" name="email" id="email">
<br>
contact  <input type="text" name="contact" id="contact">
<br>
gst      <input type="text" name="gst" id="gst">
<br>
<button text="post" id="submit">submit</button>
</body>

<script>

$("#submit").click(function(){
	var name=$("#name").text;
	var address=$("#address").text;
	var email=$("#email").text;
	var contact=$("#contact").text;
    var gst=$("#gst").text;
    var data={"name":name, "address":address, "email":email, "contact":contact, "gst":gst};
    
	$post("/company/new", (data, status)=>{
		console.log("data posted");
	}
)});
</script>
</html>

